:root {
    --dark-brown: #110b07;
    --dark-gray: #100f0f;
    --strong-brown: #361500;
    --strong-gray: #3a3838;
    --brown: #603601;
    --light-brown: #d8b05f;
    --light-yellow: #f6cf50;
}

.container-search {
    min-height: calc(100vh - 56px); 
    text-align: center;
}

.title {
    font-size: 3.5rem;
    letter-spacing: 3.5px;
    margin: 50px auto;
    color: var(--light-yellow);
    text-shadow: 2px 2px 10px var(--light-brown);
}

.search-title {
    text-align: left;
    margin-left: 30px;
    font-size: 2.5rem;
    color: var(--light-brown);
}

/* FORMULARIO DE BUSQUEDA */

.form-container {
    width: 100%;
    height: 55px; 
    margin-left: 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: flex-start;
}

.form-container > div {
    width: 30%;
}

.form-container input {
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    padding: 10px;
    border-radius: 10px 0 0 10px; 
    border: none;
    outline: none;
    color: white;
    border: 1px solid var(--dark-brown);
    background-color: var(--dark-gray);
    transition: all .2s ease-in-out;
}

.form-container input:focus {
    border: 1px solid var(--light-yellow);
}

.form-container button {
    padding: 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px var(--dark-brown);
    color: var(--light-yellow);
    background-color: var(--strong-gray);
    border: none;
    outline: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    user-select: none;
    transition: all .3s ease-out;
}

.form-container button:hover {
    text-shadow: 1px 1px 5px var(--light-brown);
    color: var(--dark-gray);
    background-color: var(--light-yellow);
    box-shadow: 0 2px 10px var(--light-yellow);
}

/* Arrows */

.arrows {
    display: flex;
    justify-content: space-around;
}

.arrows img {
    width: auto;
    height: 70px;
    filter: grayscale(30%) contrast(20%) brightness(1.5) drop-shadow(3px 3px 5px var(--strong-gray));
    transition: all .3s ease-out;
    cursor: pointer;
}

.arrows img:hover {
    filter: grayscale(0%) hue-rotate(0deg) contrast(100%) brightness(1) drop-shadow(1px 1px 10px var(--light-yellow));
}

@media screen and (max-width: 800px) {
    .arrows img {
        height: 50px;
    }

    .arrows {
        margin-bottom: 20px;
    }
}

/* LISTAS DE PELÃCULAS */

.list-movies {
    display: grid;
    margin-bottom: 30px;
    padding: 25px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 350px));
    justify-content: center;
    column-gap: 25px;
    row-gap: 35px;
    list-style: none;
}

.movie-item {
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    background-color: var(--dark-gray);
    border-radius: 5px;
    border: 1px solid var(--light-yellow);
    box-shadow: 5px 5px 10px 5px black;
    transition: all 0.3s ease;
    animation: aparecer 0.4s ease;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.movie-item:hover {
    transform: scale(1.05);
}

.movie-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.3s ease;
}

.movie-link:hover {
    color: var(--light-yellow);
}

.movie-item figure {
    background-color: var(--strong-gray);
    padding-bottom: 10px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 2px 2px white;
}

.movie-item figure img {
    border: 1px solid var(--strong-gray);
    width: 100%;
}

.movie-item figcaption {
    width: 300px;
}

.fill {
    width: 50px;
    transform: rotate(-45deg);
    filter: grayscale(80%) contrast(0%) brightness(0.7) drop-shadow(3px 3px 5px var(--dark-brown));
    transition: all .3s ease-out;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.fill:hover {
    filter: grayscale(0%) contrast(100%) drop-shadow(1px 1px 10px var(--light-yellow));
    transform: scale(1.3);
}

.fill-favourite {
    filter: grayscale(0%) contrast(100%) drop-shadow(1px 1px 10px var(--light-yellow));
    transform: scale(1.3);
}

.search-error {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    color: var(--light-brown);
    padding: 0;
}

@media screen and (max-width: 800px) {
    .title {
        font-size: 1.7rem;
        margin: 30px 0;
    }

    .search-title {
        margin: 0px 0px 10px 10px;
        font-size: 1.5rem;
    }

    .form-container {
        width: auto;
        height: 35px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .form-container > div {
        width: 60%;
    }

    .form-container input {
        width: 100%;
    }

    .form-container input, .form-container button {
        font-size: 14px;
    }

    .movie-item figure > img, .movie-item figcaption {
        width: 250px;
        font-size: 16px;
    }
   

    .list-movies {
        grid-template-columns: repeat(auto-fit, 300px);
    }

    .search-error {
        font-size: 1.7rem;
    }

    .fill {
        height: 30px;
        top: 5px;
    }
}

@media screen and (max-width: 400px) {
    .movie-item figure > img, .movie-item figcaption {
        width: 180px;
        height: auto;
    }
   

    .list-movies {
        grid-template-columns: repeat(auto-fit, 250px);
    }

    .fill {
        right: 10px;
    }
}